.ota{
    justify-content: space-between;
    background-color: #282829;
    display: flex;
    height: 50px;
    padding-right: 20px;
    
}
ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.bir{
    text-align: center;
}
.ikki{
  width: 393px;
}
.uch img{
    width: 393px;
    border-radius: 10px;
}


.uch {
    width: 393px;
}

.tor img{
    width: 393px;
    border-radius: 10px;
}
.tor p{
    width: 393px;
}

.besh img{
    width: 393px;
    border-radius: 10px;
    height: 230px;
}

.besh {
     width: 393px;
}

.olti img{
width: 393px;
border-radius: 10px;
height: 230px;
}
.olti{
    width: 393px;
}
.yetti img{
    width: 393px;
    border-radius: 10px;
    height: 230px;
}
.yetti{
    width: 393px;
}

.hh{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sakkiz{
        width: 1440px;
        height: 40px;
        background-color: #282829;
justify-content: end;
display: flex;
padding-right: 20px;
margin-top: 50px;
        
}
   
